<h1>How many times does your word appear in your sentence?<h1>
<form action = "/wordcounter">
    <div class="form-group">
      <label for="word">Enter The Word You Would Like Us To Count:</label>
      <input id="word" name="word" class="form-control" type="text">
    </div>
      <br>
    <div class="form-group">
      <label for="sentence">Enter A Sentence That Includes Your Word:</label>
      <input id="sentence" name="sentence" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Word Counter</button>
</form>      
